@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://accounts.google.com/o/oauth2/auth?client_id=768959576841-he1v0s4n9fobvibfa2ckik21kime12j2.apps.googleusercontent.com&redirect_uri=http://localhost:49933/Home/callbacktaskapi&scope=https://www.googleapis.com/auth/tasks&response_type=code&approval_prompt=force&access_type=offline">Get Google Tasks</a></p>
    </div>

</div>