@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Google Drive Count is</h2>
        <p>
            @ViewBag.Message
        </p>
        <p><a class="btn btn-default" href="https://accounts.google.com/o/oauth2/auth?client_id=768959576841-he1v0s4n9fobvibfa2ckik21kime12j2.apps.googleusercontent.com&redirect_uri=http://localhost:49933/Home/callbacktaskapi&scope=https://www.googleapis.com/auth/tasks&response_type=code&approval_prompt=force&access_type=offline">Get Google Tasks</a></p>
    </div>
    
</div>